@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,400;1,500&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(159, 238, 238);
}

.add{
    background-color: aquamarine;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    padding: 0.5rem 1rem;
    margin: 2rem auto;
    top: 1rem;
    right: 1rem;
    position: fixed;
}
.note{
    background-color: white;
    margin: 20px;
    width: 400px;
    height: 400px;
}

.note .tools{
    background-color: lightgreen;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

.note .tools button{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1rem;
    margin-left: 0.5rem;
    cursor: pointer;

}

.note .main{
    background-color: aliceblue;
    overflow: hidden;
    height: 400px;
    width: 100%;

}

.note textarea{
    outline: none;
    font-family: inherit;
    font-size: 1.2rem;
    border: none;
    height: 400px;
    width: 100%;
}

.note .hidden{
    display: none;
}